<md-toolbar md-scroll-shrink class="md-hue-2">
    <h2 class="md-toolbar-tools">Admin Dashboard</h2>
</md-toolbar>
<span><br /><br /></span>
<div>
    <md-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button id="dashboardbnt" flex class="md-raised md-primary md-hue-2" ng-click="editGroup()">Groups</md-button>
            <md-button id="dashboardbnt" flex class="md-raised md-primary md-hue-2" ng-click="editOrganizationDetails()">Edit Organization Details</md-button>
        </section>
    </md-container>
</div>
